
$principalFont : 'Mochiy Pop P One', sans-serif;

#morusasHeader{
    font-family: $principalFont;
    .container-fluid{
        background: rgb(51,51,255);
        background: linear-gradient(313deg, rgba(51,51,255,1) 0%, rgba(34,216,227,1) 64%, rgba(247,252,252,1) 100%);
        border-radius: 10px;
    }
}